ion-text {
    font-weight: bold;
    margin-bottom: 7px;
}

ion-content {
    padding: 7px;
    text-align: center;
    img {
        margin-top: 20px;
        height: 120px;
    }
}

.scan-box {
    // border: 2px solid #fff;
    left: 50%;
    position: absolute;
    top: 58%;
    transform: translate(-50%, -50%);
    p {
        color: var(--ion-color-success);
    }
}

#content {
    border-radius: 1rem;
    position: relative;
    width: 250px;
    height: 230px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
    content: "";
    display: block;
}

#content:before,
#content:after,
#content> :first-child:before,
#content> :first-child:after {
    position: absolute;
    width: 22px;
    height: 22px;
    border-color: var(--ion-color-success);
    /* or whatever colour */
    border-style: solid;
    /* or whatever style */
    content: " ";
}

#content:before {
    top: 0;
    left: 0;
    border-width: 3px 0 0 3px;
    border-top-left-radius: 1rem;
}

#content:after {
    top: 0;
    right: 0;
    border-top-right-radius: 1rem;
    border-width: 3px 3px 0 0;
}

#content> :first-child:before {
    bottom: 0;
    right: 0;
    border-width: 0 3px 3px 0;
    border-bottom-right-radius: 1rem;
}

#content> :first-child:after {
    bottom: 0;
    left: 0;
    border-width: 0 0 3px 3px;
    border-bottom-left-radius: 1rem;
}

ion-item {
    --background: transparent;
    height: 45px;
    border: 1px solid var(--ion-color-success);
    border-radius: 2rem;
    input {
        border: none;
        outline: none;
        width: 100%;
        color: var(--ion-color-success);
        background: transparent;
    }
}

 ::placeholder {
    color: var(--ion-color-success);
    opacity: 1;
    /* Firefox */
}

.button {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    button {
        background: none;
        padding: 15px;
        border: 1px solid var(--ion-color-success);
        border-radius: 50px;
        color: var(--ion-color-success);
        width: 297px;
    }
}