.item {
    margin: 0em 0.5em;
    img {
        width: 100%;
        height: 6.25em;
        object-fit: cover;
        border-radius: 1em;
    }
    .item-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #272727;
        text-align: left;
    }
    .item-date {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #8D8D8D;
        text-align: left;
    }
}