<ion-header>
    <app-base-header [router]="'main/news'" [headerTitle]="'Nội dung '"></app-base-header>
</ion-header>

<ion-content>
    <ion-grid class="new-detail">
        <ion-row class="ion-padding">
            <ion-col size="12">
                <img src="assets/img/sl1.jpg" alt="">
            </ion-col>
            <ion-col size="12" class="ci-h-3">
                Hà Nội: Sẽ bắt buộc truy xuất nguồn gốc nông sản
            </ion-col>

            <ion-col size="12" class="header">
                <div class="ci-t-primary">Thị trường - Tiêu dùng</div>
                <div class="time ci-gey-3">24/02/2020 </div>
            </ion-col>


            <ion-col size="12" class="ci-t-normal">
                Sau hơn 3 năm triển khai, Hà Nội đã hoàn thiện thủ tục quản lý và minh bạch thông tin của 653 DN trên địa bàn TP, 238 DN của 35 tỉnh, TP với 8.702 bộ mã truy xuất nguồn gốc các loại nông sản, thực phẩm. Hà Nội đã đạt chỉ tiêu 100% sản phẩm của 141 chuỗi
                sản xuất, tiêu thụ nông sản an toàn có sử dụng mã QR truy xuất nguồn gốc khi lưu thông ra thị trường. Ngoài ra, 80,5% các cửa hàng kinh doanh trái cây trên địa bàn các quận nội thành hiện nay cũng đã sử dụng QR code phục vụ công tác truy
                xuất nguồn gốc.
            </ion-col>

            <ion-col size="12">
                <img src="assets/img/sl1.jpg" alt="">
            </ion-col>
            <ion-col size="12" class="ci-t-normal">
                Theo đánh giá của Sở Nông nghiệp và Phát triển Nông thôn (NN&PTNT) Hà Nội, hệ thống truy xuất nguồn gốc nông sản, thực phẩm mang lại ý nghĩa lớn đối với nhiều bên liên quan, giúp nhà quản lý kiểm soát hiệu quả chất lượng sản phẩm. Đặc biệt là hỗ trợ tích
                cực cho người tiêu dùng trong việc kiểm tra thông tin về nguồn gốc, xuất xứ cũng như chất lượng thực phẩm sử dụng trong bữa ăn hàng ngày. Việc ứng dụng phần mềm hệ thống quản lý thông tin điện tử sử dụng mã QR truy xuất nguồn gốc nông
                sản, thực phẩm của Hà Nội còn giúp nâng cao khả năng cạnh tranh, hiệu quả kinh tế đối với các cơ sở sản xuất, chế biến, kinh doanh. Sở dĩ vậy là bởi chính sự ràng buộc về chất lượng sản phẩm và các yêu cầu về nguồn gốc, xuất xứ sẽ thúc
                đẩy các tổ chức, DN, người sản xuất nâng cao giá trị sản phẩm nhằm đáp ứng được các tiêu chuẩn khắt khe. Qua đó, kiểm soát hiệu quả vấn đề còn rất phức tạp về an toàn thực phẩm hiện nay.

            </ion-col>

        </ion-row>
    </ion-grid>

    <div class="e-title">
        <app-base-title [dataTitle]="dataTitleNews"></app-base-title>
    </div>
    <app-home-slide-news></app-home-slide-news>

</ion-content>