<ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let i of data" (click)="onRouterTo(i.verify)">
        <div class="item">
            <!-- img product -->
            <img [src]="i.img " alt=" ">
            <div class="item-title">
                <!-- verify -->
                <img *ngIf="i.verify == true" src="assets/icon/icon-gs1.svg" alt="">
                <!-- <img  [src]="i.iconGS" alt=""> -->
                <div>
                    {{i.title | slice:0:14}}
                </div>
                <span *ngIf="i.title.length > 20">...</span>
            </div>
            <!-- check -->
            <div class="item-date">
                <img *ngIf="i.tick == true" src="assets/icon/icon-tick-active.svg" alt="">
                <img *ngIf="!i.tick" src="assets/icon/icon-tick.svg" alt="">

                <div>
                    {{i.date}}
                </div>
            </div>
        </div>
    </ion-slide>
</ion-slides>
<ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let i of data" (click)="onRouterTo(i.verify)">
        <div class="item">
            <img [src]="i.img " alt=" ">
            <div class="item-title">
                <img *ngIf="i.verify == true" src="assets/icon/icon-gs1.svg" alt="">
                <div>
                    {{i.title | slice:0:14}}
                </div>
                <span *ngIf="i.title.length > 20">...</span>
            </div>
            <div class="item-date">
                <img *ngIf="i.tick == true" src="assets/icon/icon-tick-active.svg" alt="">
                <img *ngIf="i.tick == false" src="assets/icon/icon-tick.svg" alt="">
                <div>
                    {{i.date}}
                </div>
            </div>
        </div>
    </ion-slide>
</ion-slides>