<ion-header>
    <app-base-header [router]="'index/login'" [headerTitle]="'Mật khẩu mới'"></app-base-header>

</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" class="ci-h-2">
                Nhập mật khẩu mới
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <form [formGroup]="formReset" (ngSubmit)="btnReset()">

                    <div class="form-group">
                        <label for="" class="ci-gey-3 ">Mật khẩu</label>
                        <input class="form-group-input" [type]="showPass1 ?  'password':'text' " formControlName="Password" name="password">
                        <div class="toggle-btn" (click)="btnTogglePassword(1)">
                            <img *ngIf="!showPass1" src="assets/icon/icon-eye.svg" alt="">
                            <img *ngIf="showPass1" src="assets/icon/icon-show-eye.svg" alt="">
                        </div>
                    </div>
                    <span *ngIf="isInvalidControl('Password')" class="error">{{formToast.errValidPasswod}}</span>
                    <span *ngIf="formReset.get('Password').errors?.required && formReset.get('Password').touched" class="error">{{formToast.emptyPassword}}</span>

                    <br>
                    <div class="form-group">
                        <label for="" class="ci-gey-3 ">Xác nhận lại mật khẩu</label>
                        <input class="form-group-input" [type]="showPass2 ?  'password':'text' " formControlName="Confirm" name="confirm">
                        <div class="toggle-btn" (click)="btnTogglePassword(2)">
                            <img *ngIf="!showPass2" src="assets/icon/icon-eye.svg" alt="">
                            <img *ngIf="showPass2" src="assets/icon/icon-show-eye.svg" alt="">
                        </div>
                    </div>
                    <span *ngIf="isInvalidControl('Confirm')" class="error">{{formToast.errValidPasswod}}</span>

                    <span *ngIf="formReset.get('Confirm').errors?.required && formReset.get('Confirm').touched" class="error">{{formToast.emptyPassword}}</span>

                    <span *ngIf="checkTruePW == false" class="error">{{formToast.errValidTruePassword}}</span>
                    <br>

                    <button class="btn-primary-16" type="submit">
                      Xác nhận
                </button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>