@import "../index.page.scss";
ion-header {
    padding: 5.5em 0em 2.25em 0em;
}

ion-grid {
    padding: 0em 0.8em 0em 0.8em;
}

//check box
.check-box input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.check-box label {
    position: relative;
    cursor: pointer;
}

.check-box label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.check-box input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}