.header {
    width: 100%;
    margin: 2.75em 0em 0.6em 0em;
    padding: 0em 2.18em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-item {
        width: 2.18em;
        height: 2.18em;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

// slide
.img-slide {
    width: 100%;
    height: 23.4em;
    padding: 0em 1.125em;
    position: relative;
    img {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: 23.4em;
        object-fit: cover;
    }
}

::ng-deep {
    .swiper-pagination-bullet {
        --bullet-background: #8D8D8D!important;
        opacity: 1;
        border-radius: 50% !important;
    }
    .swiper-pagination-bullet-active {
        --bullet-background-active: #000000 !important;
        width: 1.5em;
        border-radius: 25% !important;
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 0.25em;
        width: 100%;
    }
}

//header-product