<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" class="item">
            <ion-icon src="assets/icon-menu/icon-home.svg"></ion-icon>
            <ion-label>Trang chủ</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="news" class="item">
            <ion-icon src="assets/icon-menu/icon-new.svg"></ion-icon>

            <ion-label>Tin tức</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="qr-code" (click)="openRequestPage()">
            <img src="assets/icon/icon-scan.svg" alt="">
        </ion-tab-button>

        <ion-tab-button tab="historys" class="item">
            <ion-icon src="assets/icon-menu/icon-history.svg"></ion-icon>
            <ion-label>Lịch sử</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="contact" class="item">
            <ion-icon src="assets/icon-menu/icon-contact.svg"></ion-icon>
            <ion-label>Liên hệ</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>