ion-tab-button {
    --color: #939393;
    --color-selected: #002C6C;
    // --background-focused: #002C6C;
    ion-icon {
        width: 1.3em;
    }
}

ion-tab-bar {
    --border: none;
    height: 5.5em;
    .item {
        margin-top: 1em;
    }
}