.btn-primary-16 {
    background: #272727;
    border-radius: 2.25em;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    color: #FFFFFF;
    height: 3em;
    width: 100%;
}

.btn-light-14 {
    background: #FFFFFF;
    border: 1.5px solid #AFAFAF;
    box-sizing: border-box;
    border-radius: 3.3em;
    font-style: normal;
    font-weight: 600;
    font-size: 0.87em;
    line-height: 1em;
    color: #272727;
}