// color
.ci-color-primary {
    color: var(--ion-color-primary) !important;
}

//align
.ci-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ci-center-item {
    display: flex;
    align-items: center;
}

//heading
.ci-h-2 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.81em;
    color: #272727;
}

.ci-h-3 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #272727;
}

.ci-h-5 {
    font-style: normal;
    font-weight: 600;
    font-size: 0.87em;
    line-height: 1.3em;
    color: #272727;
}

.ci-h-4 {
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.25em;
    text-align: center;
    color: #272727;
}

.ci-gey-3 {
    font-style: normal;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 1.3em;
    color: #8D8D8D;
}

.ci-gey-4 {
    font-style: normal;
    font-weight: 500;
    font-size: 0.87;
    line-height: 1.3em;
    color: #8D8D8D;
}

//text
.ci-t-3 {
    font-style: normal;
    font-weight: 500;
    font-size: 0.81em;
    line-height: 1.3em;
    color: #000000;
}

.ci-t-normal {
    font-style: normal;
    font-weight: 500;
    font-size: 0.87em;
    line-height: 1.5em;
    color: #272727;
}

.ci-t-primary {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #002C6C;
}

//modal

/* DOES NOT WORK - not specific enough */

.modal-wrapper {
    background: #fff;
}


/* Works - pass "my-custom-class" in cssClass to increase specificity */

.my-custom-class .modal-wrapper {
    background: #fff;
}

//base title
.e-title {
    padding: 1em;
}