// color
.ci-color-primary {
    color: var(--ion-color-primary) !important;
}

//align
.ci-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ci-center-item {
    display: flex;
    align-items: center;
}

//heading
.ci-h-2 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.81em;
    color: #272727;
}

.ci-h-3 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #272727;
}

.ci-h-5 {
    font-style: normal;
    font-weight: 600;
    font-size: 0.87em;
    line-height: 1.3em;
    color: #272727;
}

.ci-h-4 {
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.25em;
    text-align: center;
    color: #272727;
}

.ci-gey-3 {
    font-style: normal;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 1.3em;
    color: #8D8D8D;
}

.ci-gey-4 {
    font-style: normal;
    font-weight: 500;
    font-size: 0.87;
    line-height: 1.3em;
    color: #8D8D8D;
}

.ci-gey-6 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #8D8D8D;
}

//text
.ci-t-3 {
    font-style: normal;
    font-weight: 500;
    font-size: 0.81em;
    line-height: 1.3em;
    color: #000000;
}

.ci-t-normal {
    font-style: normal;
    font-weight: 500;
    font-size: 0.87em;
    line-height: 1.5em;
    color: #272727;
}

.ci-t-primary {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #002C6C;
}

.ci-t-danger {
    font-style: normal;
    font-weight: 600;
    font-size: 0.875em;
    line-height: 1em;
    color: #CF5E35;
}

//modal

/* DOES NOT WORK - not specific enough */

.modal-wrapper {
    background: #fff;
}


/* Works - pass "my-custom-class" in cssClass to increase specificity */

.my-custom-class .modal-wrapper {
    background: #fff;
}

.modal-history {
    // position: relative;
    // width: 100%;
    // height: 100%;
    .modal-shadow {
        // z-index: 101;
    }
    .modal-wrapper {
        position: absolute;
        display: block;
        top: calc(50%-214px);
        border-radius: 24px;
        width: 90%;
        height: 214px;
    }
}

//base title
.e-title {
    padding: 1em;
}

//alert
.alert-history.alert-wrapper {
    background: #e5e5e5;
}

.alert-wrapper {
    background: #e5e5e5;
}

.alert-btn-light {
    background: #FFFFFF;
    border: 1.5px solid #AFAFAF;
    box-sizing: border-box;
    border-radius: 3.3em;
    font-style: normal;
    font-weight: 600;
    font-size: 0.87em;
    line-height: 1em;
    color: #272727;
}

.alert-btn-primary {
    background: #272727;
    border: none;
    box-sizing: border-box;
    border-radius: 3.3em;
    font-style: normal;
    font-weight: 600;
    font-size: 0.87em;
    line-height: 1em;
    color: #FFFFFF;
}