// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat-Medium.ttf);
}

:root {
    --ion-font-family: "Montserrat";
    --ion-color-primary: #002C6C;
    --ion-color-primary-rgb: 0, 44, 108;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #00275f;
    --ion-color-primary-tint: #1a417b;
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
    --ion-color-success: #008FDD;
    --ion-color-success-rgb: 0, 143, 221;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #007ec2;
    --ion-color-success-tint: #1a9ae0;
    --ion-color-warning: #FFAC30;
    --ion-color-warning-rgb: 255, 172, 48;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0972a;
    --ion-color-warning-tint: #ffb445;
    --ion-color-danger: #CF5E35;
    --ion-color-danger-rgb: 207, 94, 53;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #b6532f;
    --ion-color-danger-tint: #d46e49;
    --ion-color-dark: #272727;
    --ion-color-dark-rgb: 39, 39, 39;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #222222;
    --ion-color-dark-tint: #3d3d3d;
    --ion-color-medium: #8D8D8D;
    --ion-color-medium-rgb: 141, 141, 141;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #7c7c7c;
    --ion-color-medium-tint: #989898;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}