ion-segment-button {
    --indicator-box-shadow: transparent!important;
    min-width: auto;
    --background: white;
    --border-color: none;
    --background-checked: #002C6C;
    --color-checked: white;
    --indicator-color: transparent!important;
    ion-label {
        background: none;
    }
}

ion-segment {
    --background: none;
}

.nav {
    padding: 0em 1em;
}

button {
    width: 10em;
    height: 2.87em;
    margin: auto;
}