<ion-header>
  <app-base-header
    [router]="'main/product'"
    [headerTitle]="'Thông tin sản phẩm'"
  ></app-base-header>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img class="icon-size" src="assets/icon/icon-tick-green.svg" />
      </ion-avatar>
      <ion-label>
        <div class="ci-gey-4">Tên sản phẩm:</div>
        <div class="ci-t-normal">{{detailProduct?.Name}}</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img class="icon-size" src="assets/icon/icon-tick-green.svg" />
      </ion-avatar>
      <ion-label>
        <div class="ci-gey-4">Giá niêm yết:</div>
        <div class="ci-t-normal">
          {{detailProduct?.Price | currency: "VND": "symbol"}}
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img class="icon-size" src="assets/icon/icon-tick-green.svg" />
      </ion-avatar>
      <ion-label>
        <div class="ci-gey-4">Ngành hàng:</div>
        <!-- <div class="ci-t-normal">Đồ uống có cồn</div> -->
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img class="icon-size" src="assets/icon/icon-tick-green.svg" />
      </ion-avatar>
      <ion-label>
        <div class="ci-gey-4">Thị trường mục tiêu:</div>
        <!-- <div class="ci-t-normal">Anh, Mỹ, Dubai, Hàn Quốc, Việt Nam</div> -->
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ci-center">
        <!-- <img src="assets/img/product/qrcode.png" alt=""> -->
      </ion-col>
      <ion-col size="6" class="ci-center">
        <img [src]="detailProduct?.MediaURL" alt="" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <!-- <img class="icon-size" src="assets/icon/icon-tick-green.svg"> -->
      </ion-avatar>
      <ion-label>
        <div class="ci-gey-4">Thương hiệu:</div>
        <!-- <div class="ci-t-normal">The Great Jamaican</div> -->
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <!-- <img class="icon-size" src="assets/icon/icon-tick-green.svg"> -->
      </ion-avatar>
      <ion-label>
        <div class="ci-gey-4">Xuất xứ:</div>
        <div class="ci-t-normal">{{detailProduct?.Source}}</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <!-- <img class="icon-size" src="assets/icon/icon-tick-green.svg"> -->
      </ion-avatar>
      <ion-label>
        <div class="ci-gey-4">Thành phần:</div>
        <!-- <div class="ci-t-normal">
          Nước, đường mía, hương vị tự nhiên, axit citric, potassium sorbate,
          sodium benzoate, ascorbic acid.
        </div> -->
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <!-- <img class="icon-size" src="assets/icon/icon-tick-green.svg"> -->
      </ion-avatar>
      <ion-label>
        <div class="ci-gey-4">Khối lượng/Dung tích:</div>
        <!-- <div class="ci-t-normal">250 ml</div> -->
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <!-- <img class="icon-size" src="assets/icon/icon-tick-green.svg"> -->
      </ion-avatar>
      <ion-label>
        <div class="ci-gey-4">Thời hạn sử dụng:</div>
        <!-- <div class="ci-t-normal">12 tháng</div> -->
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <!-- <img class="icon-size" src="assets/icon/icon-tick-green.svg"> -->
      </ion-avatar>
      <ion-text>
        <div class="ci-gey-4">Mô tả:</div>
        <div class="ci-t-normal">{{detailProduct?.Description}}</div>
      </ion-text>
    </ion-item>
  </ion-list>

  <div class="product-card-cert" (click)="onCert()">
    <app-base-title [dataTitle]="dataTitleCerf"></app-base-title>
    <div class="card-img" *ngIf="certProduct">
      <img class="cert" [src]="i.MediaURL" *ngFor="let i of certProduct"/>
      <!-- <img class="cert" src="assets/img/product/cert.png" />
      <img class="cert" src="assets/img/product/cert.png" /> -->
    </div>
  </div>
</ion-content>
