<ion-header>
    <app-base-header [router]="'main/product'" [headerTitle]="'Thông tin sản phẩm'"></app-base-header>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <img class="icon-size" src="assets/icon/icon-tick-green.svg">
            </ion-avatar>
            <ion-label>
                <div class="ci-gey-4">Tên sản phẩm:</div>
                <div class="ci-t-normal">Ginger Beer</div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <img class="icon-size" src="assets/icon/icon-tick-green.svg">
            </ion-avatar>
            <ion-label>
                <div class="ci-gey-4">Giá niêm yết:</div>
                <div class="ci-t-normal">54.000 VNĐ</div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <img class="icon-size" src="assets/icon/icon-tick-green.svg">
            </ion-avatar>
            <ion-label>
                <div class="ci-gey-4">Ngành hàng:</div>
                <div class="ci-t-normal">Đồ uống có cồn</div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <img class="icon-size" src="assets/icon/icon-tick-green.svg">
            </ion-avatar>
            <ion-label>
                <div class="ci-gey-4">Thị trường mục tiêu:</div>
                <div class="ci-t-normal">Anh, Mỹ, Dubai, Hàn Quốc, Việt Nam</div>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-grid>
        <ion-row>
            <ion-col size="6" class="ci-center">
                <!-- <img src="assets/img/product/qrcode.png" alt=""> -->
            </ion-col>
            <ion-col size="6" class="ci-center">
                <img src="assets/img/product/tem.png" alt="">
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <!-- <img class="icon-size" src="assets/icon/icon-tick-green.svg"> -->
            </ion-avatar>
            <ion-label>
                <div class="ci-gey-4">Thương hiệu:</div>
                <div class="ci-t-normal">The Great Jamaican</div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <!-- <img class="icon-size" src="assets/icon/icon-tick-green.svg"> -->
            </ion-avatar>
            <ion-label>
                <div class="ci-gey-4">Xuất xứ:</div>
                <div class="ci-t-normal">Jamaica</div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <!-- <img class="icon-size" src="assets/icon/icon-tick-green.svg"> -->
            </ion-avatar>
            <ion-label>
                <div class="ci-gey-4">Thành phần:</div>
                <div class="ci-t-normal">Nước, đường mía, hương vị tự nhiên, axit citric, potassium sorbate, sodium benzoate, ascorbic acid.
                </div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <!-- <img class="icon-size" src="assets/icon/icon-tick-green.svg"> -->
            </ion-avatar>
            <ion-label>
                <div class="ci-gey-4">Khối lượng/Dung tích:</div>
                <div class="ci-t-normal">250 ml</div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <!-- <img class="icon-size" src="assets/icon/icon-tick-green.svg"> -->
            </ion-avatar>
            <ion-label>
                <div class="ci-gey-4">Thời hạn sử dụng:</div>
                <div class="ci-t-normal">12 tháng</div>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <!-- <img class="icon-size" src="assets/icon/icon-tick-green.svg"> -->
            </ion-avatar>
            <ion-text>
                <div class="ci-gey-4">Mô tả:</div>
                <div class="ci-t-normal">
                    Bia gừng, cách đây nhiều thế kỷ, ở Anh thế kỷ 18, là một loại đồ uống có cồn lên men có chứa gừng, nước và đường, và thực sự là một thức uống có cồn. Tuy nhiên, ngày nay, không có dấu vết của rượu trong đồ uống, đó là lý do tại sao cái tên bia gừng thực
                    sự là một cách gọi sai. Nó không hơn gì một loại nước giải khát không có cồn, mặc dù nó được lên men hoặc ủ. Nó tạo ra một mùi khét khi mở ra giống như các loại cola và đồ uống trong khác. Bạn vẫn có thể chắc chắn rằng bia gừng mua
                    ở chợ không có cồn và là thức uống lạnh tinh khiết được lên men.
                    <br><br> Tuy nhiên, vì nó dai và ngon hơn bia gừng, nhiều người vẫn phân biệt giữa hai loại bia này và nghĩ rằng bia gừng như một thức uống có cồn mặc dù nó không chứa cồn. Bia gừng có ít cacbonat hóa hơn và được trộn với nước cốt
                    chanh để làm cho hương vị giòn hơn bia gừng. Ngày nay, hầu hết bia gừng ở Mỹ đến từ Jamaica và các nước Caribe khác. Ngay cả khi bạn muốn thử, nó có thể không dễ dàng để làm bia gừng tại nhà.
                </div>
            </ion-text>
        </ion-item>
    </ion-list>

    <div class="product-card-cert" (click)="onCert()">
        <app-base-title [dataTitle]="dataTitleCerf"></app-base-title>
        <div class="card-img">
            <img class="cert" src="assets/img/product/cert.png">
            <img class="cert" src="assets/img/product/cert.png">
            <img class="cert" src="assets/img/product/cert.png">
        </div>
    </div>

</ion-content>