<ion-header>
    <ion-grid>
        <ion-row>
            <ion-col (click)="onBack()">
                <img src="assets/icon/icon-back.svg" alt="">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" class="ci-center">
                <img [src]="img" alt="">
            </ion-col>
            <ion-col size="12" class="ci-h-3 ci-center">
                {{content1}}
            </ion-col>
            <ion-col size="12" class="ci-h-3 ci-center ">
                {{content2}}
            </ion-col>
            <ion-col size="12">
                <button class="btn-primary-16" (click)="onBack()">
                    Quay lại đăng nhập
                  </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>