<ion-header>
    <app-base-header [router]="'index/login'" [headerTitle]="'Quên mật khẩu'"></app-base-header>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="12" class="ci-h-2">
                Quên mật khẩu
            </ion-col>

            <ion-col size="12" class="ci-t-normal">
                Vui lòng nhập Số điện thoại bạn đã sử dụng để đăng ký tài khoản.
            </ion-col>
            <ion-col size="12">
                <form [formGroup]="formForgot">
                    <div class="form-group">
                        <label for="" class="ci-gey-3 ">Số điện thoại </label>
                        <input type="tel" class="form-group-input ion-text-center" name="Phone" maxlength="10" formControlName="Phone">
                    </div>
                    <span *ngIf="formForgot.get('Phone').errors?.required && formForgot.get('Phone').touched" class="error">{{formToast.emptyPhone}}</span>
                    <span *ngIf="isInvalidControl('Phone')" class="error">{{formToast.errValidPhone}}</span>
                    <span *ngIf="checkForgot == false" class="error">{{formToast.errForgot}}</span>
                    <button (click)="btnForgot()" class="btn-primary-16">
                      Tiếp theo
                  </button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>