<ion-header>
    <app-base-header-nav [dataHeaderNav]="dataHeaderNav"></app-base-header-nav>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" class="ci-center">
                <img src="assets/img/card-contact.svg" alt="">
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin  ">
            <ion-col size="3" class="ci-gey-4 ion-margin-top contact-lable ">
                <img src="assets/icon/icon-local.svg" alt="">
                <div>
                    Địa chỉ:
                </div>
            </ion-col>
            <ion-col size="9" class="ion-text-end ci-gey-4 ion-margin-top">
                Số 08, Hoàng Quốc Việt, Quận Cầu Giấy, Hà Nội
            </ion-col>


            <ion-col size="3" class="ci-gey-4  contact-lable ">
                <img src="assets/icon/icon-hostline.svg" alt="">
                <div>
                    Hotline:
                </div>
            </ion-col>
            <ion-col size="9" class="ion-text-end ci-gey-4 ">
                1900 636218 <br> 03456 33 844
            </ion-col>


            <ion-col size="3" class="ci-gey-4 contact-lable  ">
                <img src="assets/icon/icon-email.svg" alt="">
                <div>
                    Email:
                </div>
            </ion-col>
            <ion-col size="9" class="ion-text-end ci-gey-4 ">
                msmv@nbc.gov.vn
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>