<ion-header>
    <app-base-header-nav [dataHeaderNav]="dataHeaderNav"></app-base-header-nav>

</ion-header>

<ion-content>
    <app-home-slide></app-home-slide>
    <ion-grid>
        <ion-row>

        </ion-row>
    </ion-grid>
    <app-base-title [dataTitle]="datatitle.dataTitleProduct"></app-base-title>


    <app-base-title [dataTitle]="datatitle.dataTitleEnterprise"></app-base-title>
    <ion-grid>
        <ion-row>
            <ion-col class="enterpris">
                <img src="assets/img/e1.png" alt="">
            </ion-col>
            <ion-col class="enterpris">
                <img src="assets/img/e2.png" alt="">

            </ion-col>
            <ion-col class="enterpris">
                <img src="assets/img/e3.png" alt="">

            </ion-col>
            <ion-col class="enterpris">
                <img src="assets/img/e4.png" alt="">

            </ion-col>
        </ion-row>
    </ion-grid>

    <app-base-title [dataTitle]="datatitle.dataTitleNews"></app-base-title>
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
        <ion-slide *ngFor="let i of [1,2,3,4]">
            <ion-col>
                <img src="../../../assets/img/p1.png" alt="">
                <!-- <img style="pointer-events:none;border-radius: 16px; " [src]="i.srcImageMobile "> -->
            </ion-col>
        </ion-slide>
    </ion-slides>
</ion-content>