.enterpris {
    background-color: #F3F3F3;
    border-radius: 1em;
    height: 2.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0em 0.25em;
    img {
        width: 3em;
        object-fit: cover;
    }
}